{% extends 'content/base.html' %}

{% block title %}
    Category {{ category.name }}
{% endblock %}

{% block main %}
     {% for game in games %}
          <h2><a href="{% url 'content:game' game.id %}">{{ game.title }}</a></h2>
          <strong>
                {% for category in game.category.all %}
                     {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
          </strong>
          <p>{{ game.perex }}</p>
     {% endfor %}
     
{% endblock %}
