{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    
</head>
<body>
    <footer>
        <div class="homepage_link">
            <a href="{% url 'content:homepage' %}">Homepage</a>
        </div>
        <div id="klikz-7"></div>
    </footer>
</body>
<script src="https://klikz.svs.gyarab.cz/hit/7?size=small"></script>
</html>